<!-- 
In Angular, data-binding is descried as the ablity to pass data between the component class and the template.
Three Types of Data Binding in Angular:
1. One Way - where information is passed from the component classes property to the view.
2. One Way - where an event is triggered on the template and the information about the event is passed from the UI to the 		component class.
3. Two Way - where information that's updated in the view or the component triggers the changes in the opposite place.
-->


<!-- This is where angular's compiler will check that it has a reference to our component. -->
<app-entry-list></app-entry-list>